<h2><strong>Paises</strong></h2>
<hr />
<ul class="list-group">
    <!-- <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
        Home Page
    </li>
    <li routerLink="about" routerLinkActive="active" class="list-group-item">
        About
    </li>
    <li routerLink="contact" routerLinkActive="active" class="list-group-item">
        Contact
    </li> -->
    <li routerLink="countries/byCountry" routerLinkActive="active" class="list-group-item">
        Country
    </li>
    <li routerLink="countries/byRegion" routerLinkActive="active" class="list-group-item">
        Region
    </li>
    <li routerLink="countries/byCapital" routerLinkActive="active" class="list-group-item">
        Capital
    </li>
</ul>